body{
    background-image: url("../img/lixo-mar.jpg");
    background-size: cover;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
}

h1{
    margin: 0;
    font-family: "Futura";
    font-size: 34px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
}

.center{
    background-color: #000000;
    opacity: 80%;
    border-radius: 12px;
    padding: 5vh;
    max-width: 80vw;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    place-items: center;
}

label{
    color: #ffffff;
    font-family: "Futura";
    font-size: 24px;
    line-height: 30px;
}

button{
    border-color: #0e90ad;
    border-radius: 6px;
    background-color: transparent;
    font-family: "Futura";
    font-size: 30px;
    color: #0e90ad;
    transition: 1s;
    cursor: pointer;
    margin: 10px;
}

.position {
    display: flex;
}

button:hover{
    background-color: #0e90ad;
    color: #000000;
}

input{
    border-color: #ffffff;
    border-radius: 4px;
    background-color: transparent;
    font-family: "Futura";
    font-size: 20px;
    color: #ffffff;
    padding: 4px;
}

input::placeholder{
    font-family: "Futura";
    font-weight: normal;
    color: #cacaca;
}

span{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

footer {
    background-color: #023859;
    color: #ffffff;
    font-family: "Futura";
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 991px){
    body{
        background-size: auto;
    }

    .center{
        background-color: #0000009a;
        min-width: 96vw;
        padding: 10vw;
        min-height: 100vh;
        justify-content: center;
    }

    label{
        line-height: 27px;
    }

    input{
        padding: 0;
        height: 5vh;
    }
}