body{
    background-image: url("../img/fundo-reciclado.jpg");
    background-size: cover;
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    place-items: center;
    justify-content: center;
}

main {
    background-color: #000000;
    opacity: 90%;
    border-radius: 12px;
    padding: 5vh;
    max-width: 80vw;
    max-height: 80vh;
    display: flex;
    place-items: center;
}

main h2{
    margin: 0;
    font-family: "Futura";
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    border-color: #cacaca;
    border-radius: 4px;
    background-color: transparent;
    font-family: "Futura";
    font-size: 20px;
    color: #cacaca;
    padding: 4px;
}

form input, textarea::placeholder{
    font-family: "Futura";
    font-weight: normal;
    color: #cacaca;
}

form button{
    border-color: #0e90ad;
    border-radius: 6px;
    background-color: transparent;
    font-family: "Futura";
    font-size: 30px;
    text-align: center;
    color: #0e90ad;
    transition: 1s;
    cursor: pointer;
}

form button:hover{
    background-color: #0e90ad;
    color: #000000;
}

a{
    border-color: #0e90ad;
    border-radius: 6px;
    background-color: transparent;
    font-family: "Futura";
    font-size: 30px;
    text-align: center;
    margin: 10px;
    color: #0e90ad;
    transition: 1s;
    cursor: pointer;
}

footer {
    background-color: #023859;
    color: #ffffff;
    font-family: "Futura";
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}